<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">

  <description>
    게시판 웹 애플리케이션
  </description>

  <display-name>toy</display-name>

  <servlet>
    <servlet-name>board/form</servlet-name>
    <jsp-file>/board/form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>board/form</servlet-name>
    <url-pattern>/board/form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>member/form</servlet-name>
    <jsp-file>/member/form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>member/form</servlet-name>
    <url-pattern>/member/form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>auth/form</servlet-name>
    <jsp-file>/auth/form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth/form</servlet-name>
    <url-pattern>/auth/form</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

</web-app>